@import './fonts.scss';
:root{
    --Sans: 'DM Sans', sans-serif;  
    --blue: #118DA8;
    --grey:#191919;
    --lightGrey: rgba(255, 255, 255, 0.70);
    --black:#000000;
    --white: #fff;
}
*{
    box-sizing: border-box;
    font-family: var(--Sans);
    text-decoration: none;
    color: var(--white)
}
body{
    margin: auto;
    padding: 0;
    font-size: 17px;
}
.container{
    max-width: 1440px;
    margin: auto;
}
